input {
    background: white;  
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    position: relative;
    top: 13px
}
input:focus {
    background: rgb(255, 211, 211);
    scale: 1.1;
}
 input , p {
    float: left;
    height: 15px;
    width: fit-content;
    margin-right: 4px;
}
